body{
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 500px;
  margin-left: 33%;
}

h1{
  text-align: center;
}

.zoomHtml {
  transition: transform 0.3s ease;
  padding: 30px;
  float: left;    
}

.zoomSharp {
  transition: transform 0.3s ease;
  padding: 30px;
  float: left;
  
}

.zoomPhP {
  transition: transform 0.3s ease;
  padding: 30px;
  float: left;
  
}

.zoomCataVento {
  transition: transform 0.3s ease;
  padding: 30px;
  float: left;
}


.zoomHtml:hover {
  transform: scale(1.1);
}

.zoomSharp:hover {
  transform: scale(1.1);
}

.zoomPhP:hover {
  transform: scale(1.1);
}

.zoomCataVento:hover {
  transform: scale(1.1);
}

.nameGit{
  margin-left: 75px;
}

.namephp{
  margin-left: 120px;
}

.tamanhoimg{
  width: 340px;
  height: 300px;
}

.namesharp{
  margin-left: 135px;
}

.namecatavento{
  margin-left: 75px;
}