body{
    background-color: antiquewhite;
}

a{
    float: left;
    text-decoration: none;
}

.tamanhoimgs{
    width: 1000px;
    height: 400px;
    padding-left: 330px;
}

.tamanhoimgCodigo{
    width: 1000px;
    height: 400px;
    padding-left: 330px;    
    padding-top: 20px;    
}

.logoPhP{
    width: 400px;
    height: 400px;
    padding-left: 580px;
}